<div class="property-list">
  <div *ngIf="properties" class="properties-container">
    <div class="property-row" *ngFor="let property of properties">
      <mat-card class="property-card">
        <div class="property-card-content">
          <img mat-card-image [src]="property.photos" alt="Property Image" class="property-image">
          <div class="property-details">
            <mat-card-header>
              <mat-card-title>{{ property.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Address</p>
              <p>{{property.address}}</p>
              <p>{{ property.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button class="showInterest" (click)="showInterest(property._id)">Show Interest</button>
              <mat-icon class="action-icon" color="accent" (click)="likeProperty(property._id)">favorite</mat-icon>
              <span class="likes-count">{{ property.likes }}</span>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="pagination">
  <button mat-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
