.property-card {
  padding: 20px;
  background-color: #fff; 
  
  margin: 0 auto; 
}

.form-header {
  text-align: center;
  margin-bottom: 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.mat-form-field {
  flex: 1;
  margin:0px 10px;
}



.full-width {
  flex: 1;
  margin: 0px 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #6e8efb; 
  color: white; 
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #5c77d2;
}
