.background-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card {  
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
